.login-screen-container {
  height: 100vh; /* Use vh para asegurarse de que ocupe toda la altura de la pantalla */
  background: linear-gradient(to top, #ff6600 0%, rgba(255,255,255,0) 20%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: auto; /* Habilita el desplazamiento si el contenido es más largo que la pantalla */
}
